<!DOCTYPE html>

<!--
  This version of the Self-Referent Encoding Task (SRET; Derry & Kuiper, 1981) is adapted based on the programming of Dr. Justin Dainer-Best of the Bard College Affective Science Lab, https://affectlab.bard.edu.
-->

<!DOCTYPE html>
<html>
  <head>
    <title>sret-self</title>
    <script src="jspsych/jspsych.js"></script>
    <script src="jspsych/plugin-browser-check.js"></script>
    <script src="jspsych/plugin-html-button-response.js"></script>
    <link href="jspsych/jspsych.css" rel="stylesheet" type="text/css" />
  </head>
  <body></body>
  <script>
      const jsPsych = initJsPsych({
        use_webaudio: false,
        on_finish: function(data) {
          var ppt = data.trials[1].ppt;
          var session = data.trials[1].session;
          console.log("Posting data for ID " + ppt + " and session " + session);
          $.ajax({
            type: "POST",
            url: "/experiment-data",
            data: JSON.stringify(data),
            contentType: "application/json"
          })
          .done(function() {
            console.log("hi!")
            var newurlgo = `http://localhost:3000/?sonaID=${ppt}&session=${session}`
            window.location.href = newurlgo;
            console.log("Success posting and user redirected");
          })
          .fail(function() {
            console.log("fail!")
            console.log("A problem occurred while writing to the database. User redirected.")
            var newurlgo = `http://localhost:3000/?sonaID=${ppt}&session=${session}`
            window.location.href = newurlgo;
          })
        }
      });

    // You can now define your timeline and start the experiment:
    const timeline = [];

    // Example trial
    timeline.push({
      type: jsPsychHtmlButtonResponse,
      stimulus: 'Click a button to continue.',
      choices: ['Continue']  // You can change the button text
    });

    jsPsych.run(timeline);
  </script>
</html>

